.container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px;
}

.input-field input::placeholder {
    color: #fff;
    font-size: 16px;
}

.input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.input-field input:focus {
    border: 2px solid #fff;
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recall-forget label {
    display: inline-flex;
    color: #fff;
}

.recall-forget input {
    appearance: none;
    margin-left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
    border: 2px solid #000;
    transition: 1s;
}

.recall-forget input:checked {
    transform: scale(1.15);
    transition: 1s;
    background-color: #000;
    border-radius: 100%;
    border: 2px solid #fff;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}

.container .signup-link {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 15px;
    color: #fff;
}

.link {
    background-color: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.link:hover {
    text-decoration: underline;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn:active {
    transform: scale(0.95);
}

.singin-error {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgba(188, 52, 52, 0.87);
    border-radius: 7px;
    padding: 5px !important;
    margin-top: 20px;
}

.icon-error {
    display: flex;
    position: absolute;
    font-size: 24px;
    color: white;
}

.singin-error p {
    display: flex;
    padding-left: 30px;
    text-decoration: none;
    text-shadow: none;
    color: white;
}

.singin-error-missing {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgb(255, 140, 0, 0.77);
    border-radius: 7px;
    padding: 5px !important;
    margin-top: 20px;
}

.icon-error-missing {
    display: flex;
    position: absolute;
    font-size: 24px;
    color: white;
}

.singin-error-missing p {
    display: flex;
    padding-left: 30px;
    text-decoration: none;
    text-shadow: none;
    color: white;
}

.email-error {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;
}

.email-error .warning {
    color: yellow;
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }

    .container h1 {
        font-size: 24px;
    }

    .input-field {
        height: 45px;
        margin: 20px auto;
    }

    .input-field input {
        font-size: 14px;
        padding: 15px 20px;
    }

    .input-field input::placeholder {
        font-size: 14px;
    }

    .input-field .icon {
        font-size: 16px;
        right: 20px;
    }

    .container .recall-forget {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .btn {
        height: 45px;
        font-size: 14px;
    }

    .container .signup-link {
        font-size: 14px;
    }

    .email-error {
        font-size: 14px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 70%;
        padding: 30px;
    }

    .container h1 {
        font-size: 26px;
    }
}

@media screen and (max-height: 600px) {
    .container {
        margin: 10px auto;
        padding: 20px;
    }

    .input-field {
        margin: 15px auto;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .container h1 {
        font-size: 20px;
    }

    .singin-error p,
    .singin-error-missing p {
        font-size: 12px;
    }

    .icon-error,
    .icon-error-missing {
        font-size: 20px;
    }
}